<div class="main_opcoes">
    <div class="modal_opcoes">
        <div class="titulo">
            <h2>OPÇÕES</h2>
        </div>

        <div class="controles_volume">
            <h3>Volume do Jogo</h3>
            <input
              type="range"
              min="0"
              max="100"
              class="slider"
              id="volumeJogoSlider"
              (input)="onVolumeChange(2, $event)"
              [(ngModel)]="audioService.volumeJogo"
            />
            <span id="volumeJogo">{{ audioService.volumeJogo }}</span>
          </div>
          
          <div class="controles_volume">
            <h3>Volume da Home</h3>
            <input
              type="range"
              min="0"
              max="100"
              class="slider"
              id="volumeHomeSlider"
              (input)="onVolumeChange(1, $event)"
              [(ngModel)]="audioService.volumeHome"
            />
            <span id="volumeHome">{{ audioService.volumeHome }}</span>
          </div>

        <div (click)="fecharOpcoes()" class="sair">
            <div  class="button_sair">
                <p>Sair</p>
            </div>
        </div>

    </div>
</div>