<ng-container *ngFor="let pergunta of perguntas">
  <div *ngIf="nivel == pergunta.nivel" class="main_modal" id="myModal">
    <div class="topo">
      <h2>Pergunta {{ pergunta.nivel }} - Nivel {{nivel}}</h2>
    </div>

    <div class="opcoes">
      <div class="subtitulo">
        <p>{{ pergunta.pergunta }}</p>
      </div>

      <div class="pergunta">
        <div class="alternativa">
          <label>
            <input
              type="radio"
              name="resposta"
              value="a"
              [(ngModel)]="alternativaSelecionada"
            />
            {{ pergunta.alternativas.a }}
          </label>
        </div>
        <div class="alternativa">
          <label>
            <input
              type="radio"
              name="resposta"
              value="b"
              [(ngModel)]="alternativaSelecionada"
            />
            {{ pergunta.alternativas.b }}
          </label>
        </div>
        <div class="alternativa">
          <label>
            <input
              type="radio"
              name="resposta"
              value="c"
              [(ngModel)]="alternativaSelecionada"
            />
            {{ pergunta.alternativas.c }}
          </label>
        </div>
        <div class="alternativa">
          <label>
            <input
              type="radio"
              name="resposta"
              value="d"
              [(ngModel)]="alternativaSelecionada"
            />
            {{ pergunta.alternativas.d }}
          </label>
        </div>
      </div>
    </div>

    <div class="button">
      <button (click)="verificarResposta(pergunta)">> Verificar Resposta</button>
    </div>

    <p id="respostaStatus"></p>
  </div>
</ng-container>
