.corpo {
  width: 100%;
  height: 919px;
  background-image: url(../../../assets/img/Background.jpeg);
  display: flex;

  .esquerda {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .direita {
    width: 50%;
    height: 100%;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
