<div class="corpo"></div>

<div class="linha" style="top: 66px; right: 410px;  width: 150px;">
  <div class="coluna" style="width: 50%;">
    <div class="estouAqui"></div>
  </div>
  <div class="coluna" style="width: 50%;">

  </div>
</div>

<div class="linha" style="top: 116px; right: 335px; width: 300px"></div>
<div class="linha" style="top: 166px; right: 295px; width: 400px"></div>
<div class="linha" style="top: 216px; right: 239px; width: 500px"></div>
<div class="linha" style="top: 266px; right: 205px; width: 550px"></div>
<div class="linha" style="top: 316px; right: 205px; width: 550px"></div>
<div class="linha" style="top: 366px; right: 216px; width: 530px"></div>
<div class="linha" style="top: 416px; right: 221px; width: 500px"></div>
<div class="linha" style="top: 466px; right: 244px; width: 427px"></div>
<div class="linha" style="top: 516px; right: 254px; width: 405px"></div>
<div class="linha" style="top: 566px; right: 271px; width: 375px"></div>
<div class="linha" style="top: 616px; right: 320px; width: 291px"></div>
<div class="linha" style="top: 666px; right: 357px; width: 239px"></div>
<div class="linha" style="top: 716px; right: 375px; width: 206px"></div>
<div class="linha" style="top: 766px; right: 393px; width: 151px"></div>
<div class="linha" style="top: 816px; right: 422px; width: 95px"></div>
