<div
  class="corpo"
  [ngClass]="{
    'iceberg-background_moderado': quartaLinhaEhEstouAqui,
    'iceberg-background_moderado_2': quintaLinhaEhEstouAqui,
    'iceberg-background_dificil': setimaLinhaEhEstouAqui,
    'iceberg-background_dificil_2': oitavaLinhaEhEstouAqui
  }"
>
  <div class="iceberg_main">
    <div class="linha" style="width: 50px; height: 50px"></div>

    <div
      *ngFor="let dadosLinha of dadosLinhas"
      class="linha"
      [style.width.px]="dadosLinha.largura"
      style="height: 50px"
    >
      <div *ngFor="let status of dadosLinha.colunas" class="coluna">
        <div [ngClass]="getStatusClass(status)"></div>
      </div>
    </div>

    <div class="linha" style="width: 80px; height: 50px"></div>
    <div class="linha" style="width: 50px; height: 50px"></div>
  </div>
</div>
