<div class="sair">
  <div (click)="sair()" class="button_sair">
    <p>Sair</p>
  </div>
</div>

<div class="main_creditos">
  <!-- JOGO -->
  <div class="titulo_creditos">
    <h3>CodeQuest</h3>
  </div>

  <div class="text_creditos">
    <p>
      Embarque em uma jornada fascinante pelos intricados caminhos do mundo da
      programação com "CodeQuest". Este jogo envolvente não é apenas uma
      competição de perguntas e respostas, mas uma verdadeira odisseia de
      desafios e descobertas no universo do código.
    </p>
  </div>

  <!-- CRIADORES -->
  <div class="titulo_creditos">
    <h3>Criadores</h3>
  </div>
  <div class="participantes">
    <div class="participante">
      <img src="../../../assets/img/participantes/iuri.jpg" alt="" />
      <span>Iuri</span>
    </div>
    <div class="participante">
      <img src="../../../assets/img/participantes/pierre.jpg" alt="" />
      <span>Pierre</span>
    </div>
    <div class="participante">
      <img src="../../../assets/img/participantes/mario.jfif" alt="" />
      <span>Mario</span>
    </div>
    <div class="participante">
      <img src="../../../assets/img/participantes/matheus.jfif" alt="" />
      <span>Matheus</span>
    </div>
    <div class="participante">
      <img src="../../../assets/img/participantes/thiagera.jpg" alt="" />
      <span>Thiago</span>
    </div>
  </div>
</div>
